@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* :root {} */

/* 
   ### header section styling ###
*/

.header {
    height: 100lvh;
    background-image: url("./images/header-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-banner {
    width: 98%;
    position: absolute;
    top: 0;
    left : 0;
    right: 0;
    margin: 0 auto;
    background-color: #d2b938;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
    text-transform: uppercase;
    margin-top: 10px;
}

.header-content {
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 73px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-left h3 {
    text-transform: uppercase;
    font-size: 21px;
    color: #D2B938;
}

.header-left h1{
    text-transform: uppercase;
    font-size: 38px;
    color: #fff;
}
.header-left h1 span{ color: #D2B938 !important; }

.header-left .details {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.header-left p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.header-left p span{ color: #D2B938 !important;  }

.header-left button {
    font-family: "Montserrat", sans-serif;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    background-color: #D2B938;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 22px;
    width: 87%;
    align-items: center;
    cursor: pointer;
}

.header-left button:hover{ background-color: #c3a925 }
.header-left button:active{ background-color: #D2B938 }

.header-left button .register-btn{
    text-transform: uppercase !important;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2px;
}

.header-left button .desc-btn{
    font-size: 17px;
}

.header-right{ 
    position: relative;
    display: flex;
    justify-content: center;
 }

 .header-right .circle-img{
    content: "";
    position: absolute;
    top: 0%;
    right: 13%;
    height: 420px;
    width: 420px;
    border: 2px solid #D2B938;
    border-radius: 50%;
}

.header-right span{
    position: absolute;
    top: 19%;
    right: 15%;
    text-transform: uppercase;
    font-family: "Six Caps", sans-serif;
    font-size: 40px;
    border-radius: 5px;
    color: #fff;
    padding: 2px 17px;
    background-color: #000;
}


/* 
    ### partenaires section styling ###
*/

.partenaires{
    background-color: #F3F3F3;
    font-family: "Montserrat", sans-serif;
    padding: 2rem 2rem 4rem 2rem;
}

.partenaires p { 
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.partenaires ul { 
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

/* 
    ### section three styling ###
*/

.sec3{  
    font-family: "Montserrat", sans-serif;
    padding: 2rem 73px;
    position: relative;
 }

.sec3 .shape3{  
    position: absolute;
}
.sec3 .shape4{  
    position: absolute;
    top: -20px;
    right: 20px;
    transform: rotate(180deg);
}

.sec3 .sec3-header{
    text-align: center;
    padding: 0 25rem;
}

.sec3 .sec3-header h1{
 font-size: 25px;
 text-transform: uppercase;
 margin-bottom: 1rem;
}

.sec3 .program{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 4rem;
}

.sec3 .program .step{
    position: relative;
    width: 200px;
    height: 210px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: all ease .3s;
}

.sec3 .program .step:hover{
    background: #1E1E1E;
}

.sec3 .program .step:hover strong{ color: #D2B938;}
.sec3 .program .step:hover p{ color: #fff;}

.sec3 .program .step span{
    background-color: #D2B938;
    position: absolute;
    top: -25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3 .program .step strong{
    text-transform: uppercase;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.sec3 .program .step p { padding-top: 20px; text-align: center;}

/* 
    ### presentation section styling ###
*/

.presentation{
    font-family: "Montserrat", sans-serif;
    padding: 4rem 73px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation .left {
    position: relative;
}

.presentation .left .highlight {
    content: "";
    position: absolute;
    top: 0%;
    left: -13%;
    width: 190px;
    height: 68px;
    background-color: #D2B938;
    z-index: 1;
}

.presentation .left h1{
    position: relative;
    font-size: 55px;
    z-index: 5;
}

.presentation .left h1 span { color: #fff;}

.presentation .left .sub { 
    font-size: 45px;
    margin-left: 7rem;
}

.presentation .left .desc { 
    font-family: "Poppins", sans-serif;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.presentation .right{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.presentation .right .right-highlight{
    content: "";
    position: absolute;
    top: 0%;
    right: -13%;
    width: 434px;
    height: 473px;
    background-color: #F0F0F0;
    z-index: 1;
}

.presentation .right img{
    position: relative;
    z-index: 6;
}

.presentation .right .name{
    font-family: "Six Caps", sans-serif;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    font-size: 12rem;
    color: #fff;
    top: -25px;
}

.presentation .right .name-highlight{
    content: "";
    position: absolute;
    bottom: 6.5%;
    right: -13%;
    width: 520px;
    height: 176px;
    background-color: #D2B938;
    z-index: 1;
}

/* 
    ### secret section styling ###
*/

.secret{
    background-color: #D2B938;
    padding: 0 73px;
}

.secret .container{
    background-color: #1E1E1E;
    padding: 4rem 0;
    font-family: "Montserrat", sans-serif;
}

.secret .container .secret-header{
    text-align: center;
    padding: 0 25rem;
    color: #fff;
}

.secret .container .secret-header h1{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.secret .container .secret-header span{color: #D2B938;}

.secret .container .secret-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

.secret .container .secret-group > div{
    width: 300px;
    text-align: center;
}

.secret .container .secret-group > div > h1{
    font-size: 4.5rem;
    color: #fff;
    transition: all ease .4s;
}

.secret .container .secret-group .secret-box{
    position: relative;
    background-color: #262626;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    height: 340px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    transition: all ease .4s;
    border: 1px solid;
}

.secret .container .secret-group .secret-box:hover{
    border: 1px solid #D2B938;
}

.secret .container .secret-group > div > div > img{
    position: absolute;
    top: -95px;
    right: 19%;
}

.secret .container .secret-group > div > div > .first-p{
    font-weight: 600;
    color: #D2B938;
}

.secret .container .secret-group > div > div > .second-p{
    color: #fff;
    font-weight: 300;
    margin-top: 1.4rem;
}






@media only screen and (min-width: 1920px) {
    .top-banner {
        font-size: 28.8px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .top-banner {
        font-size: 25.1px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .top-banner {
        font-size: 21.4px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .top-banner {
        font-size: 20.3px;
    }
}
@media (min-width: 1281px){.header-left { gap: 25px;}}

@media (min-width: 1280px) and (max-width: 1280px) {
    .top-banner {
        font-size: 18.9px;
    }
    .header-left {
        gap: 25px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .top-banner {
        font-size: 18.9px;
    }
    .header-left {
        gap: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .top-banner {
        font-size: 15.1px;
    }
    .header-left h1{
        font-size: 32px;
    }
    .header-left button .register-btn{
        font-size: 20px;
    }
    .header-left h3 {
        font-size: 18px;
    }
    .header-left p{
        font-size: 12px;
    }
}