* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    height: 100lvh;
    background-image: url("./images/header-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}